{"openapi":"3.0.0","info":{"title":"A2E Developer API","description":"MakeFun AI provides affordable, accessible, and flexible AI-powered media processing capabilities through RESTful APIs. Generate avatar videos, swap faces, clone voices, create images and videos from text or images, and much more.\n\n## Quickstart for AI Integration\n\nUse the machine-readable OpenAPI spec or download a generated SKILL.md for Cursor, MCP clients, and other AI agents.\n\n| Resource | URL |\n|----------|-----|\n| OpenAPI JSON | [`https://makefun.ai/dev/openapi-spec`](https://makefun.ai/dev/openapi-spec) |\n| SKILL.md | [`https://makefun.ai/dev/skill`](https://makefun.ai/dev/skill) |\n| Get API Token | [Account > API Token](https://makefun.ai/account/token) |\n\n**3-step quickstart:**\n1. Create an API token in **Account > API Token**.\n2. Load the machine-readable OpenAPI spec from `https://makefun.ai/dev/openapi-spec`\n3. Download the generated SKILL.md from `https://makefun.ai/dev/skill`\n\n## Access Points\n\n| Environment | Base URL |\n|--------|----------|\n| Current Environment | `https://makefun.ai` |\n\n## Authentication\n\nUse an **API token** for developer API calls.\nAPI tokens start with `sk_` and should be sent as a Bearer token in the `Authorization` header.\n\n### How to get an API token\n\n1. Sign in to `https://makefun.ai`.\n2. Open **Account > API Token**.\n3. Create a new token and copy the generated value.\n4. Send it in the request header as `Authorization: Bearer sk_...`.\n\nJWT/session tokens used by the web app are not part of the public developer authentication flow and are not required in this documentation.\n\n```bash\ncurl -X POST \"https://makefun.ai/api/v1/...\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"name\": \"my-task\", \"prompt\": \"...\"}'\n```\n\n## FAQ\n\n**What is the SLA?**\nMakeFun AI maintains approximately 99.6% uptime across all API services.\n\n**Is there a free tier?**\nYes — new users receive free credits upon registration. Check the pricing page for current free tier allocation.\n","version":"1.0.0","license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"}},"servers":[{"url":"https://makefun.ai","description":"Current Environment"}],"paths":{"/api/v1/r2/get_upload_presigned_url":{"post":{"summary":"Get pre-signed upload URL","description":"Legacy endpoint for generating a pre-signed R2 PUT URL.\nPrefer /api/v1/r2/upload-presigned-url for new integrations.\nIf bucket is omitted, files are uploaded to 3days-apac by default.\nurlPrefix changes the leading object-key path and defaults to adam2eve.\ncdnDomain changes the CDN domain suffix and defaults to the existing makefun.ai behavior.\nThe returned key is scoped to {urlPrefix}/{env}/user/{user_id}/.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Send an `application/json` body. Required fields: `key`.\n### Behavior\n- Validates the submitted payload and performs the operation described by the request schema.\n- Conditional fields, mutually exclusive inputs, limits, and defaults are enforced as documented by their schemas.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid parameters.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `POST /api/v1/r2/upload-presigned-url` — Get pre-signed upload URL.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Miscellaneous"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"key":{"type":"string","description":"key parameter","example":"example_key"},"bucket":{"type":"string","description":"R2 bucket. Defaults to 3days-apac.","example":"3days-apac"},"urlPrefix":{"type":"string","description":"Leading object-key path. Defaults to adam2eve.","example":"adam2eve"},"cdnDomain":{"type":"string","description":"CDN domain suffix without scheme or path. Defaults to the existing makefun.ai behavior.","example":"makefun.ai"},"expiresIn":{"type":"integer","minimum":60,"description":"expiresIn parameter","example":60},"contentType":{"type":"string","description":"MIME type to bind to the upload request.","example":"image/png"},"fileSize":{"type":"number","required":false,"description":"Optional file size in bytes. When provided, the pre-signed URL binds Content-Length.","example":1048576},"contentLength":{"type":"number","required":false,"description":"Optional Content-Length in bytes. Takes priority over fileSize if both are provided.","example":1048576}},"required":["key"],"example":{"key":"example_key","bucket":"3days-apac","urlPrefix":"adam2eve","cdnDomain":"makefun.ai","expiresIn":60,"contentType":"image/png","fileSize":1048576,"contentLength":1048576}},"example":{"key":"example_key","bucket":"3days-apac","urlPrefix":"adam2eve","cdnDomain":"makefun.ai","expiresIn":60,"contentType":"image/png","fileSize":1048576,"contentLength":1048576}}}},"responses":{"200":{"description":"Item retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/R2UploadPresignedUrlResponse"}}}},"400":{"description":"Bad Request - Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1R2GetUploadPresignedUrl","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/r2/get_upload_presigned_url\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\n  \"key\": \"example_key\",\n  \"bucket\": \"3days-apac\",\n  \"urlPrefix\": \"adam2eve\",\n  \"cdnDomain\": \"makefun.ai\",\n  \"expiresIn\": 60,\n  \"contentType\": \"image/png\",\n  \"fileSize\": 1048576,\n  \"contentLength\": 1048576\n}'"}]}},"/api/v1/generation/quote":{"post":{"summary":"Estimate generation credit consumption","description":"Returns a credit estimate without creating a task, calling a generation provider, or charging credits.\nFor agent use, send `endpoint` plus the exact `requestBody` intended for that generation endpoint.\nOnly pricing-related fields are interpreted; a successful quote does not validate the complete generation request.\nThe legacy normalized quote body remains supported for backward compatibility.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Send an `application/json` body. Required fields: `endpoint`, `requestBody`.\n### Behavior\n- Validates the submitted payload and performs the operation described by the request schema.\n- Conditional fields, mutually exclusive inputs, limits, and defaults are enforced as documented by their schemas.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Unsupported endpoint or invalid/missing pricing input.\n- `401` — Missing or invalid bearer token.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Credits"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"endpoint":{"type":"string","description":"Generation route path. A leading `POST ` is accepted but optional.","example":"/api/v1/userWan25/start"},"requestBody":{"type":"object","additionalProperties":true,"description":"The exact JSON body intended for the generation request.","example":{"model":"wan2.7-i2v","task_type":"first_last_frame","duration":"5","resolution":"720p","audio":true,"image_url":"https://example.com/first.png","last_frame_url":"https://example.com/last.png"}}},"required":["endpoint","requestBody"],"example":{"endpoint":"/api/v1/userWan25/start","requestBody":{"model":"wan2.7-i2v","task_type":"first_last_frame","duration":"5","resolution":"720p","audio":true,"image_url":"https://example.com/first.png","last_frame_url":"https://example.com/last.png"}}},"example":{"endpoint":"/api/v1/userWan25/start","requestBody":{"model":"wan2.7-i2v","task_type":"first_last_frame","duration":"5","resolution":"720p","audio":true,"image_url":"https://example.com/first.png","last_frame_url":"https://example.com/last.png"}}}}},"responses":{"200":{"description":"Credit estimate. `generationRequestValidated=false` means only pricing inputs were checked.","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Unsupported endpoint or invalid/missing pricing input"},"401":{"description":"Missing or invalid bearer token"}},"operationId":"postApiV1GenerationQuote","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/generation/quote\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\n  \"endpoint\": \"/api/v1/userWan25/start\",\n  \"requestBody\": {\n    \"model\": \"wan2.7-i2v\",\n    \"task_type\": \"first_last_frame\",\n    \"duration\": \"5\",\n    \"resolution\": \"720p\",\n    \"audio\": true,\n    \"image_url\": \"https://example.com/first.png\",\n    \"last_frame_url\": \"https://example.com/last.png\"\n  }\n}'"}]}},"/api/v1/anchor/list":{"post":{"summary":"List available avatars","description":"Returns the system and user-specific avatars available to the authenticated API user.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Send an `application/json` body when using the optional controls documented in the request schema.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid parameters.\n- `401` — Unauthorized - Invalid or missing JWT token.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Generate Avatar Videos"],"security":[{"bearerAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"web_type":{"type":"string","description":"Optional client type. Use a2e or tyzn to include default system avatars alongside user-specific avatars.","enum":["a2e","tyzn"],"example":"a2e"}},"required":[],"example":{"web_type":"a2e"}},"example":{"web_type":"a2e"}}}},"responses":{"200":{"description":"Operation completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AvatarListResponse"}}}},"400":{"description":"Bad Request - Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1AnchorList","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/anchor/list\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\n  \"web_type\": \"a2e\"\n}'"}]}},"/api/v1/anchor/tts_list":{"post":{"summary":"List system voices (TTS presets)","description":"List available system TTS voices/presets for the current user.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid parameters.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `POST /api/v1/anchor/language_list` — List supported languages/regions for voices.\n- `POST /api/v1/anchor/voice_list` — List available voices by country/region.\n- `GET /api/v1/anchor/voice_list` — List available voices (GET)\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["TTS and Voice Clone"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Voice preset list","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Bad Request - Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1AnchorTtsList","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/anchor/tts_list\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{}'"}]}},"/api/v1/anchor/language_list":{"post":{"summary":"List supported languages/regions for voices","description":"List supported language & region options. Optional `voice_map_type` can be used to filter results.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Send an `application/json` body when using the optional controls documented in the request schema.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid parameters.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `POST /api/v1/anchor/tts_list` — List system voices (TTS presets)\n- `POST /api/v1/anchor/voice_list` — List available voices by country/region.\n- `GET /api/v1/anchor/voice_list` — List available voices (GET)\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["TTS and Voice Clone"],"security":[{"bearerAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"voice_map_type":{"type":"string","description":"Filter by locale mapping type (e.g. en-US)","example":"en-US"}},"required":[],"example":{"voice_map_type":"en-US"}},"example":{"voice_map_type":"en-US"}}}},"responses":{"200":{"description":"Language/region list","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Bad Request - Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1AnchorLanguageList","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/anchor/language_list\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\n  \"voice_map_type\": \"en-US\"\n}'"}]}},"/api/v1/anchor/voice_list":{"post":{"summary":"List available voices by country/region","description":"List available voices filtered by `country`, `region`, and `voice_map_type`.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Send an `application/json` body when using the optional controls documented in the request schema.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid parameters.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `POST /api/v1/anchor/tts_list` — List system voices (TTS presets)\n- `POST /api/v1/anchor/language_list` — List supported languages/regions for voices.\n- `GET /api/v1/anchor/voice_list` — List available voices (GET)\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["TTS and Voice Clone"],"security":[{"bearerAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"country":{"type":"string","description":"Country/language code (default en)","example":"en"},"region":{"type":"string","description":"Region code (default US)","example":"US"},"voice_map_type":{"type":"string","description":"Locale mapping type (default en-US)","example":"en-US"}},"required":[],"example":{"country":"en","region":"US","voice_map_type":"en-US"}},"example":{"country":"en","region":"US","voice_map_type":"en-US"}}}},"responses":{"200":{"description":"Voice list","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Bad Request - Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1AnchorVoiceList","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/anchor/voice_list\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\n  \"country\": \"en\",\n  \"region\": \"US\",\n  \"voice_map_type\": \"en-US\"\n}'"}]},"get":{"summary":"List available voices (GET)","description":"List available voices. Defaults: country=en, region=US, voice_map_type=en-US.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Supported query parameters: `country`, `region`, `voice_map_type`. Omitted values use the defaults shown in the parameter schema.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `POST /api/v1/anchor/tts_list` — List system voices (TTS presets)\n- `POST /api/v1/anchor/language_list` — List supported languages/regions for voices.\n- `POST /api/v1/anchor/voice_list` — List available voices by country/region.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["TTS and Voice Clone"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Item retrieved successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"parameters":[{"name":"country","in":"query","required":false,"schema":{"type":"string","default":"en","example":"en"},"description":"country parameter"},{"name":"region","in":"query","required":false,"schema":{"type":"string","default":"US","example":"US"},"description":"region parameter"},{"name":"voice_map_type","in":"query","required":false,"schema":{"type":"string","default":"en-US","example":"en-US"},"description":"voice_map_type parameter"}],"operationId":"getApiV1AnchorVoiceList","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X GET \"https://makefun.ai/api/v1/anchor/voice_list\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\""}]}},"/api/v1/video/send_tts":{"post":{"summary":"Generate text-to-speech audio","description":"Convert text to speech using AI voices with customizable parameters.\n### Voice Selection\nMust provide **either** `tts_id` (system voice) **or** `user_voice_id` (custom cloned voice):\n- `tts_id`: Use built-in system voice (400+ voices available)\n- `user_voice_id`: Use your own custom cloned voice (requires `country` and `region` parameters)\n### Text Limitations\n- **API users**: Maximum 1000 characters per request\n- **Web users**: Maximum 3000 characters per request\n- Text length is calculated including all Unicode characters\n### Rate Limiting & Captcha\nFor non-API users, captcha verification may be required after frequent usage:\n- Use `type` parameter to specify captcha type (`turnstile` or `aliyun_captcha`)\n- Provide corresponding `turnstile_token` or `captchaVerifyParam` when captcha is required\n- API token users skip captcha verification.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Send an `application/json` body. Required fields: `msg`.\n### Behavior\n- Validates the submitted payload and performs the operation described by the request schema.\n- Conditional fields, mutually exclusive inputs, limits, and defaults are enforced as documented by their schemas.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Invalid request parameters.\n- `401` — Unauthorized - Invalid or missing JWT token.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["TTS and Voice Clone"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string","description":"Text content to convert to speech (1-3000 characters)","example":"Welcome. Let's start your AI journey.","minLength":1,"maxLength":3000},"tts_id":{"type":"string","description":"System voice ID (MongoDB ObjectId). Must provide either tts_id or user_voice_id.","example":"66dc3c1b7dc1f1c483cc5ab8"},"user_voice_id":{"type":"string","description":"Custom cloned voice ID (MongoDB ObjectId). Must provide either tts_id or user_voice_id.","example":"66f1234567890abcdef12345"},"country":{"type":"string","description":"Locale language part (e.g. 'en', 'zh', 'pt', 'ja'). Optional when using user_voice_id, defaults to 'en'. Combine with `region` to form locale like 'en-US'/'zh-CN'. Values should come from POST /api/v1/anchor/language_list (top-level `value`).","example":"en","default":"en"},"region":{"type":"string","description":"Locale region part (e.g. 'US', 'CN', 'BR', 'JP'). Optional when using user_voice_id, defaults to 'US'. Combine with `country` to form locale like 'en-US'/'zh-CN'. Values should come from POST /api/v1/anchor/language_list (child `value`).","example":"US","default":"US"},"speechRate":{"type":"number","description":"Speech speed multiplier (0.5-2.0)","example":1,"minimum":0.5,"maximum":2,"default":1},"type":{"type":"string","description":"Captcha type (required when captcha verification is needed)","enum":["turnstile","aliyun_captcha"],"example":"turnstile"},"turnstile_token":{"type":"string","description":"Captcha token (required when type is 'turnstile')","example":"0x4AAAAAAxxxxxxxxxxxxxxxxxx"},"captchaVerifyParam":{"type":"string","description":"Captcha verification parameter (required when type is 'aliyun_captcha')","example":"xxxxxxxxxxxx"}},"required":["msg"],"example":{"msg":"Welcome. Let's start your AI journey.","tts_id":"66dc3c1b7dc1f1c483cc5ab8","user_voice_id":"66f1234567890abcdef12345","country":"en","region":"US","speechRate":1,"type":"turnstile","turnstile_token":"0x4AAAAAAxxxxxxxxxxxxxxxxxx","captchaVerifyParam":"xxxxxxxxxxxx"}},"example":{"msg":"Welcome. Let's start your AI journey.","tts_id":"66dc3c1b7dc1f1c483cc5ab8","user_voice_id":"66f1234567890abcdef12345","country":"en","region":"US","speechRate":1,"type":"turnstile","turnstile_token":"0x4AAAAAAxxxxxxxxxxxxxxxxxx","captchaVerifyParam":"xxxxxxxxxxxx"}}}},"responses":{"200":{"description":"Text-to-speech generation successful","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1VideoSendTts","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/video/send_tts\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\n  \"msg\": \"Welcome. Let's start your AI journey.\",\n  \"tts_id\": \"66dc3c1b7dc1f1c483cc5ab8\",\n  \"user_voice_id\": \"66f1234567890abcdef12345\",\n  \"country\": \"en\",\n  \"region\": \"US\",\n  \"speechRate\": 1,\n  \"type\": \"turnstile\",\n  \"turnstile_token\": \"0x4AAAAAAxxxxxxxxxxxxxxxxxx\",\n  \"captchaVerifyParam\": \"xxxxxxxxxxxx\"\n}'"}]}},"/api/v1/tts/preview/list":{"get":{"summary":"Get TTS preview list","description":"Return the authenticated user's non-deleted TTS preview records created during the last 24 hours, ordered for recent-preview playback.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Supported query parameters: `pageSize`, `current`. Omitted values use the defaults shown in the parameter schema.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `DELETE /api/v1/tts/preview/{id}` — Delete TTS preview record.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["TTS and Voice Clone"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"TTS preview list retrieved successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"parameters":[{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":20,"example":20},"description":"Number of items per page"},{"name":"current","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"example":1},"description":"Current page number"}],"operationId":"getApiV1TtsPreviewList","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X GET \"https://makefun.ai/api/v1/tts/preview/list\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\""}]}},"/api/v1/tts/preview/{id}":{"delete":{"summary":"Delete TTS preview record","description":"Soft-delete the authenticated user's TTS preview record identified by `id`; the underlying audio object is not physically removed by this operation.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Supply `id` in the URL path.\n### Behavior\n- Deletes or marks the selected resource as deleted according to the endpoint's documented lifecycle rules.\n- Use the resource identifier from a list, creation, or detail response; deleting one resource does not affect unrelated records.\n- Do not assume an in-progress task can be cancelled unless the endpoint explicitly documents that behavior.\n### Response\n- A `200` response confirms that the deletion request was applied to the selected record.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `401` — Unauthorized - Invalid or missing JWT token.\n- `404` — Record not found.\n### Related Operations\n- `GET /api/v1/tts/preview/list` — Get TTS preview list.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["TTS and Voice Clone"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"TTS preview record deleted successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","example":"507f1f77bcf86cd799439011"},"description":"TTS preview record ID to delete"}],"operationId":"deleteApiV1TtsPreviewId","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X DELETE \"https://makefun.ai/api/v1/tts/preview/{id}\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{}'"}]}},"/api/v1/video/generate":{"post":{"summary":"Generate AI video with avatar","description":"Generate AI video with avatar using audio source and selected avatar. Either audioSrc or custom_voice is required. For background replacement, use back_id for system backgrounds or custom_back_id for backgrounds created by /api/v1/custom_back/add. The avatar must have an original background saved, or the request must provide anchor_background_img or anchor_background_color.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Send an `application/json` body. Required fields: `anchor_id`, `anchor_type`.\n- API-token callers may include `webhook_url` and `webhook_token` for best-effort terminal-state notifications; ordinary JWT/cookie calls ignore these fields.\n### Behavior\n- This is an asynchronous operation: a successful submission creates a task and returns before processing finishes.\n- Persist the returned task identifier and use the corresponding detail or list operation to observe progress.\n- Treat the detail endpoint as the source of truth even when webhook delivery is enabled.\n### Response\n- A `200` response confirms task acceptance; it does not by itself mean media generation has completed.\n- Retain the returned identifier and wait for a documented terminal status before using output URLs.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid parameters or missing required audio source.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `GET /api/v1/video/detail` — detail.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Generate Avatar Videos"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"title":{"type":"string","maxLength":40,"description":"Video title (optional, max 40 characters)","example":"My AI Video"},"audioSrc":{"type":"string","description":"Audio source URL (required if custom_voice not provided)","example":"https://example.com/audio.mp3"},"custom_voice":{"type":"string","description":"Custom voice audio URL (required if audioSrc not provided)","example":"https://example.com/custom_voice.wav"},"anchor_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","description":"Avatar/anchor ID (MongoDB ObjectId)","example":"507f1f77bcf86cd799439011"},"anchor_type":{"type":"number","description":"Avatar type (0 for system avatar, 1 for custom avatar)","example":0},"anchor_background_img":{"type":"string","description":"Original avatar background image URL. Required for background replacement if the avatar record does not already have background_img or background_color.","example":"https://example.com/original-avatar-background.jpg"},"anchor_background_color":{"type":"string","description":"Original avatar background color in RGBA format. Required for background replacement if the avatar record does not already have background_img or background_color.","example":"rgba(255,255,255,1)"},"back_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","description":"System background template ID (MongoDB ObjectId). Mutually exclusive with custom_back_id; sending both returns error 30005.","example":"507f1f77bcf86cd799439012"},"face_swap_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","description":"Face swap template ID (MongoDB ObjectId)","example":"507f1f77bcf86cd799439013"},"custom_back_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","description":"Custom background ID returned by /api/v1/custom_back/add (MongoDB ObjectId). Mutually exclusive with back_id; sending both returns error 30005.","example":"507f1f77bcf86cd799439014"},"color":{"type":"string","description":"Color setting in RGBA format","example":"rgba(0,0,0,1)"},"wl_model":{"type":"string","description":"Watermark/logo model setting","example":"default"},"isSkipRs":{"type":"boolean","description":"Skip resolution scaling","example":false},"web_bg_width":{"type":"number","default":0,"description":"Output canvas/background width. Required when using back_id, custom_back_id, or color.","example":1920},"web_bg_height":{"type":"number","default":0,"description":"Output canvas/background height. Required when using back_id, custom_back_id, or color.","example":1080},"web_people_width":{"type":"number","default":0,"description":"Avatar width in output layout. Required when using back_id, custom_back_id, or color.","example":800},"web_people_height":{"type":"number","default":0,"description":"Avatar height in output layout. Required when using back_id, custom_back_id, or color.","example":600},"web_people_x":{"type":"number","default":0,"description":"Avatar X position in web layout","example":100},"web_people_y":{"type":"number","default":0,"description":"Avatar Y position in web layout","example":50},"web_dist_bg_width":{"type":"number","default":-1,"description":"Distributed background width","example":1920},"web_dist_bg_height":{"type":"number","default":-1,"description":"Distributed background height","example":1080},"web_dist_bg_x":{"type":"number","default":0,"description":"Distributed background X position","example":0},"web_dist_bg_y":{"type":"number","default":0,"description":"Distributed background Y position","example":0},"resolution":{"type":"number","default":1080,"description":"Video resolution (height in pixels)","example":1080},"msg":{"type":"string","description":"Additional message or notes","example":"Custom video generation"},"erode_factor":{"type":"number","description":"Erosion factor for image processing","example":0.5},"isSkipGp":{"type":"boolean","description":"Skip green screen processing","example":false},"isCaptionEnabled":{"type":"boolean","description":"Enable captions/subtitles","example":true},"gp_model":{"type":"object","description":"Green screen processing model settings","properties":{"compose_mode":{"type":"string","description":"Composition mode","example":"overlay"},"compose_ratio":{"type":"number","description":"Composition ratio","example":0.8}}},"isToPublicPool":{"type":"boolean","description":"Add to public pool for sharing","example":false},"lip_model":{"type":"string","description":"Lip sync model selection","example":"default"},"captionAlign":{"type":"object","description":"Caption alignment and styling settings","properties":{"language":{"type":"string","description":"Caption language","example":"en"},"PrimaryColour":{"type":"string","description":"Primary text color in RGBA format","example":"rgba(255,255,255,1)"},"title":{"type":"string","description":"Caption title","example":"Video Caption"},"TitleBoxColour":{"type":"string","description":"Title box background color in RGBA format","example":"rgba(0,0,0,0.5)"},"FontName":{"type":"string","description":"Font family name","example":"Arial"},"Fontsize":{"type":"integer","description":"Font size in pixels","example":24},"subtitle_position":{"type":"number","description":"Subtitle vertical position (0-1)","example":0.9},"OutlineColour":{"type":"string","description":"Text outline color in RGBA format","example":"rgba(0,0,0,1)"},"BackColour":{"type":"string","description":"Text background color in RGBA format","example":"rgba(0,0,0,0.3)"}}}},"required":["anchor_id","anchor_type"]},{"$ref":"#/components/schemas/WebhookInput"}]},"example":{}}}},"responses":{"200":{"description":"Video generation started successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Bad Request - Invalid parameters or missing required audio source","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1VideoGenerate","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/video/generate\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{}'"}]}},"/api/v1/video/detail":{"get":{"summary":"Get record details","description":"detail.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Supported query parameters: `video_id`. Omitted values use the defaults shown in the parameter schema.\n### Behavior\n- Retrieves the current server-side representation of the requested resource or task.\n- For asynchronous tasks, inspect the documented status and result fields before consuming generated media.\n- Repeat the request only as needed for polling and stop after the task reaches a terminal state.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `POST /api/v1/video/generate` — Generate AI video with avatar.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Generate Avatar Videos"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Operation completed successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"parameters":[{"name":"video_id","in":"query","required":true,"schema":{"type":"string","example":"507f1f77bcf86cd799439011"},"description":"Video task ID returned by the generate endpoint"}],"operationId":"getApiV1VideoDetail","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X GET \"https://makefun.ai/api/v1/video/detail\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\""}]}},"/api/v1/custom_avatar/add":{"post":{"summary":"Add new record","description":"Create a custom avatar in the authenticated user's library from the submitted avatar media and metadata.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Reads the requested information without creating a generation task.\n- Use the returned fields as documented; availability may depend on the caller and current resource state.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid parameters.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `POST /api/v1/custom_avatar/list` — List items.\n- `POST /api/v1/custom_avatar/del` — del.\n- `GET /api/v1/custom_avatar/all_tags` — all tags.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Create Avatars"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Item created successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Bad Request - Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1CustomAvatarAdd","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/custom_avatar/add\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{}'"}]}},"/api/v1/custom_avatar/list":{"post":{"summary":"Create/Run list","description":"Return the authenticated user's custom avatars using the submitted pagination and filtering controls.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid parameters.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `POST /api/v1/custom_avatar/add` — Add new item.\n- `POST /api/v1/custom_avatar/del` — del.\n- `GET /api/v1/custom_avatar/all_tags` — all tags.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Create Avatars"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Item retrieved successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Bad Request - Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1CustomAvatarList","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/custom_avatar/list\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{}'"}]}},"/api/v1/custom_avatar/del":{"post":{"summary":"Delete record","description":"Remove the authenticated user's custom avatar identified by the submitted record ID.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Reads the requested information without creating a generation task.\n- Use the returned fields as documented; availability may depend on the caller and current resource state.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid parameters.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `POST /api/v1/custom_avatar/list` — List items.\n- `POST /api/v1/custom_avatar/add` — Add new item.\n- `GET /api/v1/custom_avatar/all_tags` — all tags.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Create Avatars"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Operation completed successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Bad Request - Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1CustomAvatarDel","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/custom_avatar/del\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{}'"}]}},"/api/v1/custom_avatar/all_tags":{"get":{"summary":"List all tags","description":"Return the distinct tags available for organizing and filtering the authenticated user's custom avatars.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `POST /api/v1/custom_avatar/list` — List items.\n- `POST /api/v1/custom_avatar/add` — Add new item.\n- `POST /api/v1/custom_avatar/del` — del.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Create Avatars"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Operation completed successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"getApiV1CustomAvatarAllTags","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X GET \"https://makefun.ai/api/v1/custom_avatar/all_tags\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\""}]}},"/api/v1/custom_avatar/{_id}":{"put":{"tags":["Create Avatars"],"summary":"Update record","description":"update.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Supply `_id` in the URL path.\n### Behavior\n- Updates the identified resource using the fields accepted by the request schema and the operation's access controls.\n- Fields omitted from the request retain their existing values unless the schema states otherwise.\n- Read the returned record or call the detail operation to confirm the persisted state.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request.\n- `401` — Unauthorized - Invalid or missing JWT token.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"example":{"success":true,"data":{},"timestamp":"2025-01-14T18:22:13.726Z"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}],"parameters":[{"name":"_id","in":"path","required":true,"schema":{"type":"string","example":"507f1f77bcf86cd799439011"},"description":"_id parameter"}],"operationId":"putApiV1CustomAvatarId","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X PUT \"https://makefun.ai/api/v1/custom_avatar/{_id}\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{}'"}]}},"/api/v1/custom_back/add":{"post":{"summary":"Add new custom background","description":"Create a custom background in the authenticated user's library from the submitted background image and metadata.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Send an `application/json` body. Required fields: `img_url`.\n### Behavior\n- Validates the submitted payload and performs the operation described by the request schema.\n- Conditional fields, mutually exclusive inputs, limits, and defaults are enforced as documented by their schemas.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid parameters or missing img_url.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `POST /api/v1/custom_back/list` — List items.\n- `POST /api/v1/custom_back/del` — del.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Background Matting"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"img_url":{"type":"string","description":"URL of the background image to add","example":"https://example.com/background.jpg"}},"required":["img_url"],"example":{"img_url":"https://example.com/background.jpg"}},"example":{"img_url":"https://example.com/background.jpg"}}}},"responses":{"200":{"description":"Background item created successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Bad Request - Invalid parameters or missing img_url","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1CustomBackAdd","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/custom_back/add\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\n  \"img_url\": \"https://example.com/background.jpg\"\n}'"}]}},"/api/v1/custom_back/list":{"post":{"summary":"Create/Run list","description":"Return the authenticated user's custom backgrounds using the submitted pagination and filtering controls.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid parameters.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `POST /api/v1/custom_back/add` — Add new custom background.\n- `POST /api/v1/custom_back/del` — del.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Background Matting"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Item retrieved successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Bad Request - Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1CustomBackList","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/custom_back/list\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{}'"}]}},"/api/v1/custom_back/del":{"post":{"summary":"Delete record","description":"Remove the authenticated user's custom background identified by the submitted record ID.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Reads the requested information without creating a generation task.\n- Use the returned fields as documented; availability may depend on the caller and current resource state.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid parameters.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `POST /api/v1/custom_back/list` — List items.\n- `POST /api/v1/custom_back/add` — Add new custom background.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Background Matting"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Operation completed successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Bad Request - Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1CustomBackDel","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/custom_back/del\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{}'"}]}},"/api/v1/custom_back/allBackground":{"post":{"tags":["Background Matting"],"summary":"List all backgrounds","description":"allBackground.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `POST /api/v1/custom_back/randomBackground` — randomBackground.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"example":{"success":true,"data":{},"timestamp":"2025-01-14T18:22:13.726Z"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}],"operationId":"postApiV1CustomBackAllBackground","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/custom_back/allBackground\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{}'"}]}},"/api/v1/custom_back/randomBackground":{"post":{"tags":["Background Matting"],"summary":"Get a random background","description":"randomBackground.\n### Request\n- This operation does not declare bearer authentication in the published specification.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request.\n### Related Operations\n- `POST /api/v1/custom_back/allBackground` — allBackground.","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"example":{"success":true,"data":{},"timestamp":"2025-01-14T18:22:13.726Z"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1CustomBackRandomBackground","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/custom_back/randomBackground\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}'"}]}},"/api/v1/userVoice/training":{"post":{"summary":"Start voice training","description":"Create an asynchronous custom-voice training task from the submitted voice samples.\n- **Concurrency:** A user may submit only one training request at a time; concurrent submissions are rejected by the service guard.\n- **Charging:** Coin usage depends on `model`. A failed creation attempt rolls back the charge automatically.\n- **Status:** After creation, poll `GET /api/v1/userVoice/trainingRecord` and inspect `current_status` for progress.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Send an `application/json` body. Required fields: `name`, `voice_urls`.\n- API-token callers may include `webhook_url` and `webhook_token` for best-effort terminal-state notifications; ordinary JWT/cookie calls ignore these fields.\n### Behavior\n- This is an asynchronous operation: a successful submission creates a task and returns before processing finishes.\n- Persist the returned task identifier and use the corresponding detail or list operation to observe progress.\n- Treat the detail endpoint as the source of truth even when webhook delivery is enabled.\n### Response\n- A `200` response confirms task acceptance; it does not by itself mean media generation has completed.\n- Retain the returned identifier and wait for a documented terminal status before using output URLs.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid training data.\n- `401` — Unauthorized - Invalid or missing JWT token.\n- `403` — Forbidden - Voice clone limit exceeded.\n### Related Operations\n- `DELETE /api/v1/userVoice/{_id}` — Delete voice training record.\n- `GET /api/v1/userVoice/{_id}` — Get voice training record detail.\n- `PUT /api/v1/userVoice/{_id}` — Update voice training record name.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["TTS and Voice Clone"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/UserVoiceTrainingRequest"},{"$ref":"#/components/schemas/WebhookInput"}]},"example":{}}}},"responses":{"200":{"description":"Voice training record created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessUserVoiceResponse"}}}},"400":{"description":"Bad Request - Invalid training data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden - Voice clone limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1UserVoiceTraining","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/userVoice/training\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{}'"}]}},"/api/v1/userVoice/trainingRecord":{"get":{"summary":"Get voice training records","description":"Return the authenticated user's voice-training records across queued, processing, completed, and failed states.\n- **Ordering:** Records are sorted by `createdAt` in descending order, newest first.\n- **Status values:** `current_status` may be `sent`, `pendding`, `processing`, `completed`, or `failed`.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `DELETE /api/v1/userVoice/{_id}` — Delete voice training record.\n- `GET /api/v1/userVoice/{_id}` — Get voice training record detail.\n- `PUT /api/v1/userVoice/{_id}` — Update voice training record name.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["TTS and Voice Clone"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessUserVoiceListResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"getApiV1UserVoiceTrainingRecord","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X GET \"https://makefun.ai/api/v1/userVoice/trainingRecord\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\""}]}},"/api/v1/userVoice/completedRecord":{"get":{"summary":"Get completed voice training records","description":"Return only the authenticated user's completed voice-training records (`current_status=completed`).\n- **Ordering:** Records are sorted by `createdAt` in descending order, newest first.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `DELETE /api/v1/userVoice/{_id}` — Delete voice training record.\n- `GET /api/v1/userVoice/{_id}` — Get voice training record detail.\n- `PUT /api/v1/userVoice/{_id}` — Update voice training record name.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["TTS and Voice Clone"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessUserVoiceListResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"getApiV1UserVoiceCompletedRecord","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X GET \"https://makefun.ai/api/v1/userVoice/completedRecord\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\""}]}},"/api/v1/userVoice/{_id}":{"delete":{"summary":"Delete voice training record","description":"Soft-delete the authenticated user's voice-training record by setting `deleted=true`; the stored record is not physically removed.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Supply `_id` in the URL path.\n### Behavior\n- Deletes or marks the selected resource as deleted according to the endpoint's documented lifecycle rules.\n- Use the resource identifier from a list, creation, or detail response; deleting one resource does not affect unrelated records.\n- Do not assume an in-progress task can be cancelled unless the endpoint explicitly documents that behavior.\n### Response\n- A `200` response confirms that the deletion request was applied to the selected record.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `GET /api/v1/userVoice/{_id}` — Get voice training record detail.\n- `PUT /api/v1/userVoice/{_id}` — Update voice training record name.\n- `POST /api/v1/userVoice/training` — Start voice training.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["TTS and Voice Clone"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"example":{"success":true,"data":{},"timestamp":"2025-01-14T18:22:13.726Z"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"parameters":[{"name":"_id","in":"path","required":true,"schema":{"type":"string","example":"507f1f77bcf86cd799439011"},"description":"MongoDB ObjectId of the voice training record"}],"operationId":"deleteApiV1UserVoiceId","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X DELETE \"https://makefun.ai/api/v1/userVoice/{_id}\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{}'"}]},"get":{"summary":"Get voice training record detail","description":"Return one voice-training record owned by the authenticated user, identified by `_id`.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Supply `_id` in the URL path.\n### Behavior\n- Retrieves the current server-side representation of the requested resource or task.\n- For asynchronous tasks, inspect the documented status and result fields before consuming generated media.\n- Repeat the request only as needed for polling and stop after the task reaches a terminal state.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid _id.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `DELETE /api/v1/userVoice/{_id}` — Delete voice training record.\n- `PUT /api/v1/userVoice/{_id}` — Update voice training record name.\n- `POST /api/v1/userVoice/training` — Start voice training.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["TTS and Voice Clone"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessUserVoiceResponse"}}}},"400":{"description":"Bad Request - Invalid _id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"parameters":[{"name":"_id","in":"path","required":true,"schema":{"type":"string","example":"507f1f77bcf86cd799439011"},"description":"MongoDB ObjectId of the voice training record"}],"operationId":"getApiV1UserVoiceId","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X GET \"https://makefun.ai/api/v1/userVoice/{_id}\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\""}]},"put":{"summary":"Update voice training record name","description":"Rename the authenticated user's voice-training record identified by `_id`; no training inputs or status fields are changed.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Supply `_id` in the URL path.\n- Send an `application/json` body. Required fields: `name`.\n### Behavior\n- Updates the identified resource using the fields accepted by the request schema and the operation's access controls.\n- Fields omitted from the request retain their existing values unless the schema states otherwise.\n- Read the returned record or call the detail operation to confirm the persisted state.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid request body.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `DELETE /api/v1/userVoice/{_id}` — Delete voice training record.\n- `GET /api/v1/userVoice/{_id}` — Get voice training record detail.\n- `POST /api/v1/userVoice/training` — Start voice training.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["TTS and Voice Clone"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserVoiceUpdateRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"example":{"success":true,"data":{},"timestamp":"2025-01-14T18:22:13.726Z"}}}},"400":{"description":"Bad Request - Invalid request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"parameters":[{"name":"_id","in":"path","required":true,"schema":{"type":"string","example":"507f1f77bcf86cd799439011"},"description":"MongoDB ObjectId of the voice training record"}],"operationId":"putApiV1UserVoiceId","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X PUT \"https://makefun.ai/api/v1/userVoice/{_id}\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{}'"}]}},"/api/v1/userVideoTwin/upload":{"post":{"tags":["Video Twin"],"summary":"Upload file","description":"upload.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Reads the requested information without creating a generation task.\n- Use the returned fields as documented; availability may depend on the caller and current resource state.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `GET /api/v1/userVideoTwin/records` — Get video twin records.\n- `GET /api/v1/userVideoTwin/{_id}` — detail.\n- `POST /api/v1/userVideoTwin/training` — training.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"example":{"success":true,"data":{},"timestamp":"2025-01-14T18:22:13.726Z"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}],"operationId":"postApiV1UserVideoTwinUpload","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/userVideoTwin/upload\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{}'"}]}},"/api/v1/userVideoTwin/training":{"post":{"tags":["Video Twin"],"summary":"Start training","description":"training.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Reads the requested information without creating a generation task.\n- Use the returned fields as documented; availability may depend on the caller and current resource state.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `GET /api/v1/userVideoTwin/records` — Get video twin records.\n- `GET /api/v1/userVideoTwin/{_id}` — detail.\n- `POST /api/v1/userVideoTwin/upload` — upload.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"example":{"success":true,"data":{},"timestamp":"2025-01-14T18:22:13.726Z"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}],"operationId":"postApiV1UserVideoTwinTraining","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/userVideoTwin/training\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{}'"}]}},"/api/v1/userVideoTwin/uploadStatus":{"get":{"summary":"Get video twin upload status","description":"Check the upload status of video twin files for the authenticated user.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Retrieves the current server-side representation of the requested resource or task.\n- For asynchronous tasks, inspect the documented status and result fields before consuming generated media.\n- Repeat the request only as needed for polling and stop after the task reaches a terminal state.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `GET /api/v1/userVideoTwin/records` — Get video twin records.\n- `GET /api/v1/userVideoTwin/{_id}` — detail.\n- `POST /api/v1/userVideoTwin/upload` — upload.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Video Twin"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Upload status retrieved successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"getApiV1UserVideoTwinUploadStatus","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X GET \"https://makefun.ai/api/v1/userVideoTwin/uploadStatus\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\""}]}},"/api/v1/userVideoTwin/userRecords":{"get":{"summary":"Get user video twin records","description":"Return every video-twin record available to the authenticated user, including its current training state and result metadata.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `GET /api/v1/userVideoTwin/records` — Get video twin records.\n- `GET /api/v1/userVideoTwin/{_id}` — detail.\n- `POST /api/v1/userVideoTwin/upload` — upload.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Video Twin"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Video twin records retrieved successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"getApiV1UserVideoTwinUserRecords","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X GET \"https://makefun.ai/api/v1/userVideoTwin/userRecords\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\""}]}},"/api/v1/userVideoTwin/remove":{"post":{"summary":"Remove video twin","description":"Remove the video twin identified in the request from the authenticated user's collection without affecting unrelated records.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Send an `application/json` body. Required fields: `_id`.\n### Behavior\n- Validates the submitted payload and performs the operation described by the request schema.\n- Conditional fields, mutually exclusive inputs, limits, and defaults are enforced as documented by their schemas.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid video twin ID.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `GET /api/v1/userVideoTwin/records` — Get video twin records.\n- `GET /api/v1/userVideoTwin/{_id}` — detail.\n- `POST /api/v1/userVideoTwin/upload` — upload.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Video Twin"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"ID of the video twin to remove","example":"507f1f77bcf86cd799439011"}},"required":["_id"],"example":{"_id":"507f1f77bcf86cd799439011"}},"example":{"_id":"507f1f77bcf86cd799439011"}}}},"responses":{"200":{"description":"Video twin removed successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Bad Request - Invalid video twin ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1UserVideoTwinRemove","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/userVideoTwin/remove\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\n  \"_id\": \"507f1f77bcf86cd799439011\"\n}'"}]}},"/api/v1/userVideoTwin/records":{"get":{"summary":"Get video twin records","description":"Retrieve paginated video twin records with optional filters.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Supported query parameters: `pageNum`, `pageSize`, `status`. Omitted values use the defaults shown in the parameter schema.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `GET /api/v1/userVideoTwin/{_id}` — detail.\n- `POST /api/v1/userVideoTwin/upload` — upload.\n- `POST /api/v1/userVideoTwin/training` — training.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Video Twin"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Records retrieved successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"parameters":[{"name":"pageNum","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"example":1},"description":"Page number (starts from 1)"},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":10,"example":10},"description":"Number of records per page"},{"name":"status","in":"query","required":false,"schema":{"type":"string","example":"completed","enum":["pending","processing","completed","failed"]},"description":"Filter by status"}],"operationId":"getApiV1UserVideoTwinRecords","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X GET \"https://makefun.ai/api/v1/userVideoTwin/records\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\""}]}},"/api/v1/userVideoTwin/startTraining":{"post":{"summary":"Start video twin training","description":"Begin training a new video twin model with image or video source.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Send an `application/json` body when using the optional controls documented in the request schema.\n### Behavior\n- Validates the submitted payload and performs the operation described by the request schema.\n- Conditional fields, mutually exclusive inputs, limits, and defaults are enforced as documented by their schemas.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid parameters.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `GET /api/v1/userVideoTwin/records` — Get video twin records.\n- `GET /api/v1/userVideoTwin/{_id}` — detail.\n- `POST /api/v1/userVideoTwin/upload` — upload.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Video Twin"],"security":[{"bearerAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name for the video twin","example":"My Video Twin"},"image_url":{"type":"string","description":"URL of the source image","example":"https://example.com/face.jpg"},"video_url":{"type":"string","description":"URL of the source video","example":"https://example.com/video.mp4"},"video_background_image":{"type":"string","description":"URL of background image","example":"https://example.com/bg.jpg"},"video_background_color":{"type":"string","description":"Background color in RGBA format","example":"rgba(255,255,255,1)"}},"required":[],"example":{"name":"My Video Twin","image_url":"https://example.com/face.jpg","video_url":"https://example.com/video.mp4","video_background_image":"https://example.com/bg.jpg","video_background_color":"rgba(255,255,255,1)"}},"example":{"name":"My Video Twin","image_url":"https://example.com/face.jpg","video_url":"https://example.com/video.mp4","video_background_image":"https://example.com/bg.jpg","video_background_color":"rgba(255,255,255,1)"}}}},"responses":{"200":{"description":"Video twin training started successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Bad Request - Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1UserVideoTwinStartTraining","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/userVideoTwin/startTraining\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\n  \"name\": \"My Video Twin\",\n  \"image_url\": \"https://example.com/face.jpg\",\n  \"video_url\": \"https://example.com/video.mp4\",\n  \"video_background_image\": \"https://example.com/bg.jpg\",\n  \"video_background_color\": \"rgba(255,255,255,1)\"\n}'"}]}},"/api/v1/userVideoTwin/continueTraining":{"post":{"summary":"Continue video twin training","description":"Continue training an existing video twin model that was previously paused.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Send an `application/json` body. Required fields: `_id`.\n### Behavior\n- Validates the submitted payload and performs the operation described by the request schema.\n- Conditional fields, mutually exclusive inputs, limits, and defaults are enforced as documented by their schemas.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request - Invalid video twin ID.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `GET /api/v1/userVideoTwin/records` — Get video twin records.\n- `GET /api/v1/userVideoTwin/{_id}` — detail.\n- `POST /api/v1/userVideoTwin/upload` — upload.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Video Twin"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"ID of the video twin to continue training","example":"507f1f77bcf86cd799439011"}},"required":["_id"],"example":{"_id":"507f1f77bcf86cd799439011"}},"example":{"_id":"507f1f77bcf86cd799439011"}}}},"responses":{"200":{"description":"Training continued successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Bad Request - Invalid video twin ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1UserVideoTwinContinueTraining","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/userVideoTwin/continueTraining\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\n  \"_id\": \"507f1f77bcf86cd799439011\"\n}'"}]}},"/api/v1/userVideoTwin/trainingRecords":{"get":{"summary":"Get training records","description":"Retrieve all video twin training records for the authenticated user.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- No request body or operation-specific parameters are required.\n### Behavior\n- Returns the collection visible in the current request and authorization context.\n- Apply the documented pagination and filter parameters when present; use response metadata to continue paging.\n- Record fields and status values have the same meaning as in the corresponding detail operation.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `GET /api/v1/userVideoTwin/records` — Get video twin records.\n- `GET /api/v1/userVideoTwin/{_id}` — detail.\n- `POST /api/v1/userVideoTwin/upload` — upload.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Video Twin"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Training records retrieved successfully","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"getApiV1UserVideoTwinTrainingRecords","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X GET \"https://makefun.ai/api/v1/userVideoTwin/trainingRecords\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\""}]}},"/api/v1/userVideoTwin/batchDetail":{"post":{"summary":"Batch query task details","description":"Query details for multiple tasks at once by providing an array of task IDs.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Send an `application/json` body. Required fields: `ids`.\n### Behavior\n- Fetches several task records in one request, reducing the number of individual detail calls.\n- Results remain subject to the same authentication and ownership checks as single-record lookups.\n- Match returned records by their identifiers instead of relying on response ordering.\n### Response\n- The `200` response contains the requested collection in the response envelope documented below.\n- An empty collection is a successful result when no matching records are available.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `GET /api/v1/userVideoTwin/records` — Get video twin records.\n- `GET /api/v1/userVideoTwin/{_id}` — detail.\n- `POST /api/v1/userVideoTwin/upload` — upload.\n\nAuthentication: set header Authorization: Bearer <token> (supports user JWT or sk_ API token).","tags":["Video Twin"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string","example":"example"},"description":"Array of task IDs to query","example":["example"]}},"required":["ids"],"example":{"ids":["example"]}},"example":{"ids":["example"]}}}},"responses":{"200":{"description":"Batch details retrieved successfully"},"401":{"description":"Unauthorized - Invalid or missing bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"operationId":"postApiV1UserVideoTwinBatchDetail","x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https://makefun.ai/api/v1/userVideoTwin/batchDetail\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\n  \"ids\": [\n    \"example\"\n  ]\n}'"}]}},"/api/v1/userVideoTwin/{_id}":{"get":{"tags":["Video Twin"],"summary":"Get record details","description":"detail.\n### Request\n- Send a valid bearer token. The server evaluates the operation in the authenticated caller's access context.\n- Supply `_id` in the URL path.\n### Behavior\n- Retrieves the current server-side representation of the requested resource or task.\n- For asynchronous tasks, inspect the documented status and result fields before consuming generated media.\n- Repeat the request only as needed for polling and stop after the task reaches a terminal state.\n### Response\n- On `200`, consume the fields defined by that response schema below.\n- Do not infer undocumented fields or statuses; clients should tolerate additional response properties.\n### Errors\n- `400` — Bad Request.\n- `401` — Unauthorized - Invalid or missing JWT token.\n### Related Operations\n- `GET /api/v1/userVideoTwin/records` — Get video twin records.\n- `POST /api/v1/userVideoTwin/upload` — upload.\n- 
[...]
